In [20]:
import tensorflow as tf
import pandas as pd
tf.__version__

'2.14.0'

In [21]:
feature_set = pd.read_csv("../input_data/CSVs/IMDB-F-features.csv", low_memory=False)
feature_set.head()

,experience,deep,star,situation,hand,birthday,queen,space,de,bond,...,bad,share,owner,today,married,doctor,death,steve,claims,black
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
targets = pd.read_csv("../input_data/CSVs/IMDB-F-targets.csv")
targets.head()

,Sci-Fi,Crime,Romance,Animation,Music,Comedy,War,Horror,Film-Noir,Adventure,...,Action,Documentary,Musical,History,Family,Reality-TV,Fantasy,Game-Show,Sport,Biography
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
feature_train = feature_set.iloc[:15000]
target_train = targets.iloc[:15000]

feature_test = feature_set.iloc[15000:]
target_test = targets.iloc[15000:]
target_test.head()

,Sci-Fi,Crime,Romance,Animation,Music,Comedy,War,Horror,Film-Noir,Adventure,...,Action,Documentary,Musical,History,Family,Reality-TV,Fantasy,Game-Show,Sport,Biography
15000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15003,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
15004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [24]:
# Ensure consistency with book
tf.random.set_seed(8)

model = tf.keras.models.Sequential()

# Layers
in_layer = tf.keras.layers.Dense(512, input_shape=(1001,), activation='relu')
fc1 = tf.keras.layers.Dense(512, activation='relu')
fc2 = tf.keras.layers.Dense(128, activation='relu')
fc3 = tf.keras.layers.Dense(128, activation='relu')
output = tf.keras.layers.Dense(28, activation='sigmoid')

model.add(in_layer)
model.add(fc1)
model.add(fc2)
model.add(fc3)
model.add(output)
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 512)               513024

 dense_11 (Dense)            (None, 512)               262656

 dense_12 (Dense)            (None, 128)               65664

 dense_13 (Dense)            (None, 128)               16512

 dense_14 (Dense)            (None, 28)                3612

=================================================================
Total params: 861468 (3.29 MB)
Trainable params: 861468 (3.29 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [25]:
loss = tf.keras.losses.BinaryCrossentropy()
optimiser = tf.keras.optimizers.Adam(0.001)

model.compile(optimizer=optimiser, loss=loss, metrics=['accuracy'])
model.fit(feature_train, target_train, epochs=20)

Epoch 1/20
469/469 [==============================] - 7s 12ms/step - loss: 0.2249 - accuracy: 0.1409
Epoch 2/20
469/469 [==============================] - 6s 12ms/step - loss: 0.2014 - accuracy: 0.1793
Epoch 3/20
469/469 [==============================] - 6s 13ms/step - loss: 0.1788 - accuracy: 0.2449
Epoch 4/20
469/469 [==============================] - 6s 13ms/step - loss: 0.1344 - accuracy: 0.3711
Epoch 5/20
469/469 [==============================] - 6s 12ms/step - loss: 0.0896 - accuracy: 0.4988
Epoch 6/20
469/469 [==============================] - 6s 12ms/step - loss: 0.0609 - accuracy: 0.5628
Epoch 7/20
469/469 [==============================] - 6s 12ms/step - loss: 0.0432 - accuracy: 0.5971
Epoch 8/20
469/469 [==============================] - 6s 12ms/step - loss: 0.0320 - accuracy: 0.6115
Epoch 9/20
469/469 [==============================] - 6s 13ms/step - loss: 0.0252 - accuracy: 0.6189
Epoch 10/20
469/469 [==============================] - 6s 12ms/step - loss: 0.0207 - accuracy: 0.6209
Epoch 11/20
469/469 [==============================] - 6s 12ms/step - loss: 0.0174 - accuracy: 0.6209
Epoch 12/20
469/469 [==============================] - 6s 12ms/step - loss: 0.0159 - accuracy: 0.6253
Epoch 13/20
469/469 [==============================] - 6s 12ms/step - loss: 0.0154 - accuracy: 0.6255
Epoch 14/20
469/469 [==============================] - 6s 12ms/step - loss: 0.0136 - accuracy: 0.6255
Epoch 15/20
469/469 [==============================] - 6s 12ms/step - loss: 0.0131 - accuracy: 0.6333
Epoch 16/20
469/469 [==============================] - 6s 13ms/step - loss: 0.0120 - accuracy: 0.6311
Epoch 17/20
469/469 [==============================] - 6s 12ms/step - loss: 0.0112 - accuracy: 0.6297
Epoch 18/20
469/469 [==============================] - 6s 12ms/step - loss: 0.0099 - accuracy: 0.6373
Epoch 19/20
469/469 [==============================] - 6s 12ms/step - loss: 0.0101 - accuracy: 0.6311
Epoch 20/20
469/469 [==============================] - 6s 12ms/step - loss: 0.0102 - accuracy: 0.6353

In [26]:
model.evaluate(feature_test, target_test)

157/157 [==============================] - 1s 3ms/step - loss: 0.9803 - accuracy: 0.1266

[0.9802947044372559, 0.1265999972820282]

### In the case of this model, the vast difference in accuracy between the training and testing datasets is good evidence that the model is over-fitting and learning patterns that only work for the provided data, as opposed to a general pattern.